nodered-app/flows.json
[
    {
        "id": "2276d6559d8cdc4c",
        "type": "tab",
        "label": "REST API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f5a9cdc65266c00c",
        "type": "tab",
        "label": "GraphQL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f5cb3eabbf0fd93",
        "type": "tab",
        "label": "ObjectQL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4c22c7401ddf469",
        "type": "tab",
        "label": "Events",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce147b46c731d342",
        "type": "steedos-config",
        "name": "steedos",
        "transporter": "${TRANSPORTER}",
        "namespace": "steedos",
        "options": "{}",
        "optionsType": "json"
    },
    {
        "id": "5ab5acead56ffaea",
        "type": "steedos-service-config",
        "name": "example-nodered",
        "version": "",
        "settings": "{}",
        "rest": "",
        "settingsType": "json"
    },
    {
        "id": "093de831c44358e0",
        "type": "inject",
        "z": "2276d6559d8cdc4c",
        "name": "定时5秒",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "7b0c5e3f1e731360"
            ]
        ]
    },
    {
        "id": "13c359c3e40772f7",
        "type": "debug",
        "z": "2276d6559d8cdc4c",
        "name": "debug ping",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "26c9301fac99bdbe",
        "type": "steedos-instance",
        "z": "2276d6559d8cdc4c",
        "broker": "ce147b46c731d342",
        "name": "steedos",
        "topic": "broker",
        "location": "global",
        "x": 90,
        "y": 140,
        "wires": []
    },
    {
        "id": "fda6f7448b07bc16",
        "type": "steedos-request-action",
        "z": "2276d6559d8cdc4c",
        "broker": "ce147b46c731d342",
        "service": "5ab5acead56ffaea",
        "name": "GET /hello",
        "topic": "hello",
        "rest": "{\"method\":\"GET\",\"path\":\"/hello/:name\"}",
        "restType": "json",
        "params": "{}",
        "paramsType": "json",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "9f92b7a5dc3e810d",
                "6c8286a229c502d6"
            ]
        ],
        "info": "使用 node-red 定义 REST API。\n\n相当于源码\n\n```javascript\n  actions: {\n    hello: {\n      // 使用微服务方式定义 API 接口。\n      // 访问地址： GET /service/api/example-nodered/hello/:name\n      rest: { method: 'GET', path: '/hello/:name' },\n      handler(ctx) {\n        return {\n          data: 'Welcome ' + ctx.params.name\n        }\n      }\n    },\n  }\n\n```"
    },
    {
        "id": "9f92b7a5dc3e810d",
        "type": "function",
        "z": "2276d6559d8cdc4c",
        "name": "function hello",
        "func": "msg.emit(\"api.hello.called\", msg.payload);\n\nmsg.payload = {data: `Welcome ${msg.payload.name}, I'm Node-RED.`};\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "42da4c18cc1a406e"
            ]
        ]
    },
    {
        "id": "42da4c18cc1a406e",
        "type": "steedos-response-action",
        "z": "2276d6559d8cdc4c",
        "name": "",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "6c8286a229c502d6",
        "type": "debug",
        "z": "2276d6559d8cdc4c",
        "name": "debug hello",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "df2a067e776f4543",
        "type": "steedos-request-action",
        "z": "2276d6559d8cdc4c",
        "broker": "ce147b46c731d342",
        "service": "5ab5acead56ffaea",
        "name": "GET /me",
        "topic": "me",
        "rest": "{\"method\":\"GET\",\"path\":\"/me\"}",
        "restType": "json",
        "params": "{}",
        "paramsType": "json",
        "x": 100,
        "y": 400,
        "wires": [
            [
                "809b9188731148eb",
                "a5d9d1090bc80680"
            ]
        ],
        "info": "使用 node-red 定义 REST API。\n\n相当于源码\n\n```javascript\n  actions: {\n    me: {\n      // 使用微服务方式定义 API 接口。\n      // 访问地址： GET /service/api/example-nodered/me\n      rest: { method: 'GET', path: '/me' },\n      handler(ctx) {\n        return ctx.meta.user\n      }\n    },\n  }\n\n```"
    },
    {
        "id": "809b9188731148eb",
        "type": "function",
        "z": "2276d6559d8cdc4c",
        "name": "function me",
        "func": "msg.emit(\"api.me.called\", msg.payload);\n\nmsg.payload = msg.meta.user\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 400,
        "wires": [
            [
                "5e8b4126fd511dbe"
            ]
        ]
    },
    {
        "id": "5e8b4126fd511dbe",
        "type": "steedos-response-action",
        "z": "2276d6559d8cdc4c",
        "name": "",
        "x": 480,
        "y": 400,
        "wires": []
    },
    {
        "id": "a5d9d1090bc80680",
        "type": "debug",
        "z": "2276d6559d8cdc4c",
        "name": "debug me",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "7b0c5e3f1e731360",
        "type": "function",
        "z": "2276d6559d8cdc4c",
        "name": "function ping",
        "func": "msg.topic = 'ping'\n\nconsole.log(msg);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 60,
        "wires": [
            [
                "13c359c3e40772f7"
            ]
        ]
    },
    {
        "id": "041b5cf925523d57",
        "type": "debug",
        "z": "f5a9cdc65266c00c",
        "name": "debug graphql",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "dd19fe76319a55a5",
        "type": "steedos-request-action",
        "z": "f5a9cdc65266c00c",
        "broker": "ce147b46c731d342",
        "service": "5ab5acead56ffaea",
        "name": "GET /graphql",
        "topic": "graphql",
        "rest": "{\"method\":\"GET\",\"path\":\"/graphql\"}",
        "restType": "json",
        "params": "{}",
        "paramsType": "json",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "a4ed0530a13d6eb6"
            ]
        ]
    },
    {
        "id": "a4ed0530a13d6eb6",
        "type": "function",
        "z": "f5a9cdc65266c00c",
        "name": "graphql prepare",
        "func": "msg.call('api.graphql', \n    {\n        query: `query {\n            space_users(filters: [\"user\", \"=\", \"${msg.meta.user.userId}\"]) {\n                name\n                organization\n            }\n        }`\n    }, \n    { meta: { } }\n).then((data) => {\n    msg.payload = data\n    node.send(msg)\n}).catch((err) => {\n    node.error(err, msg)\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "17f73a23ffd99cc2",
                "041b5cf925523d57"
            ]
        ]
    },
    {
        "id": "17f73a23ffd99cc2",
        "type": "steedos-response-action",
        "z": "f5a9cdc65266c00c",
        "name": "",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "2310ebaa9037742a",
        "type": "steedos-instance",
        "z": "f5a9cdc65266c00c",
        "broker": "ce147b46c731d342",
        "name": "steedos",
        "topic": "broker",
        "location": "global",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "02a275df10cd3bec",
        "type": "debug",
        "z": "1f5cb3eabbf0fd93",
        "name": "debug objectql",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "8ff6274b015fe93f",
        "type": "steedos-request-action",
        "z": "1f5cb3eabbf0fd93",
        "broker": "ce147b46c731d342",
        "service": "5ab5acead56ffaea",
        "name": "GET /objectql",
        "topic": "objectql",
        "rest": "{\"method\":\"GET\",\"path\":\"/objectql\"}",
        "restType": "json",
        "params": "{}",
        "paramsType": "json",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "71bc7c2bbf61be62"
            ]
        ]
    },
    {
        "id": "71bc7c2bbf61be62",
        "type": "function",
        "z": "1f5cb3eabbf0fd93",
        "name": "objectql ",
        "func": "msg.call('objectql.find',\n    {\n        \"objectName\": \"space_users\",\n        \"query\": {\n            // \"fields\": [\"name\", \"orgranizations\"],\n            \"filters\": [\"user\", \"=\", msg.meta.user.userId]\n        }\n    },\n    { meta: {} }\n).then((data) => {\n    msg.payload = data\n    node.send(msg)\n}).catch((err) => {\n    node.error(err, msg)\n})\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 200,
        "wires": [
            [
                "33c3bb2545276f1c",
                "02a275df10cd3bec"
            ]
        ]
    },
    {
        "id": "bcbc82273617591c",
        "type": "inject",
        "z": "1f5cb3eabbf0fd93",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "a15b522425519db2"
            ]
        ]
    },
    {
        "id": "a15b522425519db2",
        "type": "function",
        "z": "1f5cb3eabbf0fd93",
        "name": "objectql function",
        "func": "const broker = global.get('broker');\n\nbroker.call('objectql.find', \n    {\n        \"objectName\": \"space_users\",\n        \"query\": {\n            \"fields\": [\"name\", \"orgranizations\"]\n        }\n    },\n    { meta: {} }\n).then((data) => {\n    msg.payload = data\n    node.send(msg)\n}).catch((err) => {\n    node.error(err, msg)\n});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 300,
        "wires": [
            [
                "9bab092c83da982c"
            ]
        ]
    },
    {
        "id": "9bab092c83da982c",
        "type": "debug",
        "z": "1f5cb3eabbf0fd93",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "33c3bb2545276f1c",
        "type": "steedos-response-action",
        "z": "1f5cb3eabbf0fd93",
        "name": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "035d39aba494e1a4",
        "type": "steedos-instance",
        "z": "1f5cb3eabbf0fd93",
        "broker": "ce147b46c731d342",
        "name": "steedos",
        "topic": "broker",
        "location": "global",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "352193fa7679c671",
        "type": "steedos-event",
        "z": "c4c22c7401ddf469",
        "broker": "ce147b46c731d342",
        "service": "5ab5acead56ffaea",
        "name": "",
        "topic": "api.hello.called",
        "group": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "66e3f810d17d667e"
            ]
        ]
    },
    {
        "id": "66e3f810d17d667e",
        "type": "debug",
        "z": "c4c22c7401ddf469",
        "name": "debug updated",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "247130d50468606c",
        "type": "steedos-instance",
        "z": "c4c22c7401ddf469",
        "broker": "ce147b46c731d342",
        "name": "steedos",
        "topic": "broker",
        "location": "global",
        "x": 130,
        "y": 40,
        "wires": []
    }
]