nodered-app/flows.json
[{"id":"2276d6559d8cdc4c","type":"tab","label":"REST API","disabled":false,"info":"","env":[]},{"id":"f5a9cdc65266c00c","type":"tab","label":"Triggers","disabled":false,"info":"","env":[]},{"id":"0e20eb790d4e7c59","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"ce147b46c731d342","type":"steedos-config","name":"steedos","transporter":"${TRANSPORTER}","namespace":"steedos","options":"{}","optionsType":"json"},{"id":"5ab5acead56ffaea","type":"steedos-service-config","name":"example-node-red","version":"","settings":"{}","rest":"","settingsType":"json"},{"id":"093de831c44358e0","type":"inject","z":"2276d6559d8cdc4c","name":"定时5秒","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["7b0c5e3f1e731360"]]},{"id":"13c359c3e40772f7","type":"debug","z":"2276d6559d8cdc4c","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":60,"wires":[]},{"id":"26c9301fac99bdbe","type":"steedos-instance","z":"2276d6559d8cdc4c","broker":"ce147b46c731d342","name":"steedos","topic":"mol","location":"flow","x":90,"y":140,"wires":[]},{"id":"fda6f7448b07bc16","type":"steedos-request-action","z":"2276d6559d8cdc4c","broker":"ce147b46c731d342","service":"5ab5acead56ffaea","name":"GET /hello","topic":"hello","rest":"{\"method\":\"GET\",\"path\":\"/hello/:name\"}","restType":"json","params":"{}","paramsType":"json","x":100,"y":220,"wires":[["9f92b7a5dc3e810d","6c8286a229c502d6"]],"info":"使用 node-red 定义 REST API。\n\n相当于源码\n\n```javascript\n  actions: {\n    hello: {\n      // 使用微服务方式定义 API 接口。\n      // 访问地址： GET /service/api/example-node-red/hello/:name\n      rest: { method: 'GET', path: '/hello/:name' },\n      handler(ctx) {\n        return {\n          data: 'Welcome ' + ctx.params.name\n        }\n      }\n    },\n  }\n\n```"},{"id":"9f92b7a5dc3e810d","type":"function","z":"2276d6559d8cdc4c","name":"function hello","func":"msg.payload = {data: 'Welcome ' + msg.payload.name};\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["42da4c18cc1a406e"]]},{"id":"42da4c18cc1a406e","type":"steedos-response-action","z":"2276d6559d8cdc4c","name":"","x":500,"y":220,"wires":[]},{"id":"6c8286a229c502d6","type":"debug","z":"2276d6559d8cdc4c","name":"debug hello","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":300,"wires":[]},{"id":"df2a067e776f4543","type":"steedos-request-action","z":"2276d6559d8cdc4c","broker":"ce147b46c731d342","service":"5ab5acead56ffaea","name":"GET /me","topic":"me","rest":"{\"method\":\"GET\",\"path\":\"/me\"}","restType":"json","params":"{}","paramsType":"json","x":100,"y":400,"wires":[["809b9188731148eb","a5d9d1090bc80680"]],"info":"使用 node-red 定义 REST API。\n\n相当于源码\n\n```javascript\n  actions: {\n    me: {\n      // 使用微服务方式定义 API 接口。\n      // 访问地址： GET /service/api/example-node-red/me\n      rest: { method: 'GET', path: '/me' },\n      handler(ctx) {\n        return ctx.meta.user\n      }\n    },\n  }\n\n```"},{"id":"809b9188731148eb","type":"function","z":"2276d6559d8cdc4c","name":"function me","func":"msg.payload = msg.meta.user\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":400,"wires":[["5e8b4126fd511dbe"]]},{"id":"5e8b4126fd511dbe","type":"steedos-response-action","z":"2276d6559d8cdc4c","name":"","x":480,"y":400,"wires":[]},{"id":"a5d9d1090bc80680","type":"debug","z":"2276d6559d8cdc4c","name":"debug me","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":480,"wires":[]},{"id":"7b0c5e3f1e731360","type":"function","z":"2276d6559d8cdc4c","name":"function ping","func":"msg.topic = 'ping'\n\nconsole.log(msg);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":60,"wires":[["13c359c3e40772f7"]]},{"id":"116d051551bd2fdd","type":"steedos-event","z":"f5a9cdc65266c00c","broker":"ce147b46c731d342","service":"5ab5acead56ffaea","name":"@space_users.updated","topic":"@space_users.updated","group":"","x":150,"y":80,"wires":[["041b5cf925523d57"]]},{"id":"041b5cf925523d57","type":"debug","z":"f5a9cdc65266c00c","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":80,"wires":[]}]